<link rel="stylesheet" href="styles/style.css">
<script src="scripts/create-game.js"></script>
<div id="menu">
    <a href="home.html">Home</a>
    <a href = "play_game.html">Play game</a>
    <a href = "create_game.html">Create game</a>
    <a href = "join_game.html">Join game</a>
    <a href = "manage_fleet.html">Manage fleet</a>
</div>
<div class="vertical-container">
    <div class="form-result" id="create-game-result"></div>
    <div class="centered-form">
        <form id="create-game-form">
            <div class="container">
                <label for="pseudo">Ton pseudo:</label><br>
                <input type="text" id="pseudo" name="pseudo" required><br><br>
            </div>
            <div class="container">
                <label for="identifiant">L'identifiant de la partie</label><br>
                <input type="number" id="identifiant" name="identifiant" required ><br>
            </div>
            <div class="container">
                <input  class="submit-button" type="submit" value="Valider">
            </div>
        </form>
        <br>
        <form id="create-game-form"></form>


    </div>
</div>