<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles/style.css">
    <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Bataille navale</title>
    </head>
    <body>
        <div id="menu">
            <a href="home.html">Home</a>
            <a href = "play_game.html">Play game</a>
            <a href = "create_game.html">Create game</a>
            <a href = "join_game.html">Join game</a>
            <a href = "manage_fleet.html">Manage fleet</a>
        </div>
        <div class="containerr">
            <table>
                <tr>
                    <th>
                        Vessel
                    </th>
                    <th>
                        Coordonnées
                    </th>
                    <th>
                        Résistance
                    </th>
                    <th>
                        Arme
                    </th>
                    <th>
                        Munitions
                    </th>
                    <th>
                        Rayon d'action
                    </th>
                </tr>
            </table>
        </div>

    </body>
</html>